<ion-header>
  <ion-toolbar>
    <ion-title class="title"> Donate </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content animate__animated animate__fadeInLeft">
    <ion-card (click)="donateFood()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1k8x39Z-ZJe52XMwrq0Cq0pRoz7lJIGN2"
          />
        </ion-thumbnail>
        <ion-label>Food</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="donateClothes()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1ovHUF8bG83nxoANOL8XK_XfrQ6dEIKAO"
          />
        </ion-thumbnail>
        <ion-label>Clothes</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="donateBlood()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1ITQqGoUFEsayCstLzDdyaJgcmEixdrcs"
          />
        </ion-thumbnail>
        <ion-label>Blood</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
