<ion-header>
  <ion-toolbar>
    <ion-title class="title"> Recieve </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <img
      class="img-item"
      src="https://drive.google.com/uc?id=1sHTj2Q5mnvQ7tGNRqc0zhGZLBBJjlP5V"
      alt="Imagem Solidariedade"
    />
    <p class="texto-item">
      Need help? We can help you! Fill out the fields and talk to a volunteer.
      🙏
    </p>
    <ion-button (click)="whats()" expand="block" type="submit"
      >Contact Volunteer</ion-button
    >
  </div>
</ion-content>
